<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="org.ezen.gamesavvy.mapper.AdminMapper">

    <select id="getAllMembers" resultType="org.ezen.gamesavvy.domain.MemberVO">
        SELECT * FROM gs_member
    </select>
    
    <!-- 관리자 페이지 회원관리 페이징처리 -->
    <select id="getAllMembersWithPaging" resultType="org.ezen.gamesavvy.domain.MemberVO">
    	<![CDATA[
			select userid, username, enabled, address, regdate, updatedate 
			from
			(
				select /*+INDEX_DESC(gs_member pk_gs_member)*/ 
				rownum rn, userid, username, enabled, address, regdate, updatedate 
				from gs_member 
				where rownum <= #{pageNum} * #{amount} 
			)
			where rn > (#{pageNum} -1) * #{amount} 
		]]>
    </select>
    
    <!-- 관리자페이지 회원 총 갯수 -->
    <select id="getMembersTotalCount" resultType="int">
    	select count(*) from gs_member
    </select>
    
    <select id="getAllList" resultType="org.ezen.gamesavvy.domain.GamesavvyVO">
        SELECT * FROM gs_board
    </select>
    
    <!-- 관리자 페이지 게시판 관리 페이징처리 -->
    <select id="getAllListWithPaging" resultType="org.ezen.gamesavvy.domain.GamesavvyVO">
    	<![CDATA[
			select bno, title, content, userid, regdate, updatedate 
			from
			(
				select /*+INDEX_DESC(gs_board pk_gs_board)*/ 
				rownum rn, bno, title, content,	userid, regdate, updatedate 
				from gs_board 
				where rownum <= #{pageNum} * #{amount} 
			)
			where rn > (#{pageNum} -1) * #{amount} 
		]]>
    </select>
    
    <!-- 관리자페이지 게시글 총 갯수 -->
    <select id="getListTotalCount" resultType="int">
    	select count(*) from gs_board where bno > 0
    </select>
    
    <!-- 관리자 페이지용 회원 강제 탈퇴 -->
	<delete id="deleteLikes" parameterType="string">
	    DELETE FROM gs_like WHERE USER_ID = #{userid}
	</delete>
	
	
	<delete id="deleteMemberAuth" parameterType="string">
	    DELETE FROM gs_member_auth WHERE USERID = #{userid}
	</delete>
	
	<delete id="deleteMember" parameterType="string">
	    DELETE FROM gs_member WHERE USERID = #{userid}
	</delete>
	
	<delete id="deleteBoardByWriter">
	    DELETE FROM gs_board WHERE USERID = #{userid}
	</delete>
	
	<!-- 댓글 -->
	<delete id="deleteReplyByReplyer">
	    DELETE FROM gs_reply WHERE REPLYER = #{userid}
	</delete>
	
	<delete id="deleteBoardByBno">
		DELETE FROM gs_board WHERE BNO = #{BNO}
	</delete>

</mapper>