<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="org.ezen.gamesavvy.mapper.GamesavvyMapper">
	
	<!-- 공통으로 사용되는 sql태그, 사용전에 정의, 사용은 include태그의 refid로 사용 -->
  	<sql id="criteria">
  		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
  			<foreach collection="typeArr" item='type'>
  				<trim prefix="OR">
  					<choose>
  						<when test="type == 'T'.toString()">
  							title like '%' ||#{keyword}||'%'
  						</when>
  						<when test="type == 'C'.toString()">
  							content like '%'||#{keyword}||'%'
  						</when>
  						<when test="type == 'W'.toString()">
  							userid like '%'||#{keyword}||'%'
  						</when>
  					</choose>
  				</trim>
  			</foreach>
  		</trim>
  	</sql>
	
	
	<select id="getList" resultType="org.ezen.gamesavvy.domain.GamesavvyVO">
		<![CDATA[select * from gs_board where bno > 0 ORDER BY BNO DESC]]>
	</select>
	
	<select id="getListWithPaging" resultType="org.ezen.gamesavvy.domain.GamesavvyVO"> 
		<![CDATA[
			select bno, title, content, userid, regdate, updatedate, replyCnt
			from
			(
				select /*+INDEX_DESC(gs_board pk_gs_board)*/ 
				rownum rn, bno, title, content,	userid, regdate, updatedate, replyCnt
				from gs_board 
			where ]]>
			<include refid="criteria"></include>
		<![CDATA[	 
			rownum <= #{pageNum} * #{amount}
			)
			where rn > (#{pageNum} -1) * #{amount} 
		]]>
	</select>
	
	<insert id="insert" parameterType="org.ezen.gamesavvy.domain.GamesavvyVO">
		insert into gs_board (bno,title,content,userid)
		values (seq_gs_board.nextval, #{title}, #{content}, #{userid})
	</insert>
	
	<insert id="insertSelectKey">
		<selectKey keyProperty="bno" order="BEFORE"	resultType="Long">
			select seq_gs_board.nextval from dual
		</selectKey>
		insert into gs_board (bno,title,content, userid)
		values (#{bno},#{title}, #{content}, #{userid})
	</insert>
	
	<select id="read" resultType="org.ezen.gamesavvy.domain.GamesavvyVO">
		select * from gs_board where bno =#{bno}
	</select>
	
	<delete id="delete">
		delete gs_board where bno = #{bno}
	</delete>
	
	<update id="update">
		update gs_board
		set title= #{title},
		content=#{content},
		userid = #{userid},
		updatedate = sysdate
		where bno = #{bno}
	</update>
	
	<select id="getTotalCount" resultType="int">
	
		select count(*) from gs_board where bno > 0
		
	</select>
	
	<!-- 댓글 수 카운트 -->
	<update id="updateReplyCnt">
	
	    update gs_board set replycnt = replycnt + #{amount} where bno = #{bno}
	    
	</update>
	
</mapper>