<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="org.ezen.gamesavvy.mapper.MemberMapper">
	
	<resultMap type="org.ezen.gamesavvy.domain.MemberVO" id="memberMap">
		<id property="userid" column="userid" /> <!-- 테이블에서 pk일시 -->
		<result property="userid" column="userid" />
		<result property="userpw" column="userpw" />
		<result property="username" column="username" />
		<result property="address" column="address" />
		<result property="regdate" column="regdate" />
		<result property="updatedate" column="updatedate" />
		<collection property="authList" resultMap="authMap">
		</collection>
	</resultMap>
	
	<resultMap type="org.ezen.gamesavvy.domain.AuthVO" id="authMap">
		<result property="userid" column="userid"/>
		<result property="auth" column="auth"/>	
	</resultMap>
	
	<select id="read" resultMap="memberMap"> <!-- map으로 반환 -->
		SELECT
			mem.userid, userpw, username, enabled, address, regdate, updatedate, auth
		FROM
			gs_member mem LEFT OUTER JOIN gs_member_auth auth on mem.userid = auth.userid
		WHERE mem.userid = #{userid}
	</select>
	
	<insert id="join" parameterType="org.ezen.gamesavvy.domain.MemberVO">
		insert into gs_member(userid,userpw,username,address,regdate)
		values(#{userid},#{userpw},#{username},#{address},sysdate)
	</insert>
	
	<insert id="memberAuth" parameterType="org.ezen.gamesavvy.domain.AuthVO">
		insert into gs_member_auth(userid,auth)
		values(#{userid},#{auth})
	</insert>
	
	<!-- 사용자가 작성한 게시글 목록을 페이징하여 가져오기 -->
	<select id="readUser" resultType="org.ezen.gamesavvy.domain.GamesavvyVO">
    	<![CDATA[
    		SELECT bno, title, content, userid, regdate, updatedate, replyCnt, cnt
    		FROM 
    		(
        		SELECT /*+INDEX_DESC(gs_board pk_gs_board)*/
        		rownum rn, bno, title, content, userid, regdate, updatedate, replyCnt, cnt
        		FROM gs_board
        		WHERE userid = #{userid, jdbcType=VARCHAR}
    			and rownum <= #{cri.pageNum} * #{cri.amount} 
			)
			where rn > (#{cri.pageNum} -1) * #{cri.amount} 
		]]>
	</select>
	
	<!-- 사용자가 작성한 게시글 카운트 -->
	<select id="getUserTotalCount" resultType="int">
		select count(*) from gs_board where userid = #{userid}
	</select>
	
	<!-- 회원이 작성한 댓글 목록의 카운트 가져오기 -->
	<select id="getReplyTotalCount" resultType="int">
    	SELECT COUNT(*) FROM gs_reply WHERE replyer = #{userId}
	</select>
	
	<!-- 회원 정보 수정 -->
    <update id="updateMember" parameterType="org.ezen.gamesavvy.domain.MemberVO">
        UPDATE gs_member
        SET userpw = #{userpw}, username = #{username,jdbcType=VARCHAR}
        WHERE userid = #{userid}
    </update>
    
    <!-- 사용자명으로 회원 정보 조회 -->
    <select id="getMemberByUsername" resultType="org.ezen.gamesavvy.domain.MemberVO">
        SELECT * FROM gs_member WHERE userid = #{userid}
    </select>
	
</mapper>