*{
	margin: 0;
	padding:0;
}

/* 화면 전체 렙 */
.wrapper{
	width: 1900px;	
}

/* content 랩 */
.wrap{
	width: 600px;
    margin: auto;
    top: 40%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

/* join 유효성 문구 */

.final_pw_ck {
	display:none;
}
.final_pwck_ck {
	display:none;
}

/* 비밀번호 확인 일치 유효성검사 */
.pwck_input_re_1 {
	color : green;
	display:none;
}
.pwck_input_re_2 {
	color : red;
	display:none;
}